{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="id_email"> Correo: </label> {{form.email}}
    <input type="submit" value='Enviar'/>
</form>
{% endblock content %}}