{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}

{% if validlink %}
<h1> Nueva Contraseña </h1>

<form method="post"/>
{% csrf_token %}

{{ form.new_password1.errors }}
<label for="id_new_password1"> Nueva Contraseña: </label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2"> Confirme Contraseña: </label>
{{ form.new_password2 }}
</form>

{% else %}

<h1 class= "text-center"> enlace invalido: esteenlace ya ha sido utilizado </h1>

{% endif %}
{% endblock %}