{% extends 'layout.html' %}

{% block content %}
    <section class="container">
        <div class="contenedor">
            <h1>Para agregar un cliente, complete el siguiente formulario</h1>

            <form method="POST" class="form ml-4" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color:gray">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <small style="color:red">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endfor%}
                    
                <button type="submit" class="btn btn-sm btn-success">Guardar</button>
                <button type="reset"  class="btn btn-sm btn-primary">Limpiar</button>
            </form>
        </div>
    </section>
{% endblock %}