{% extends 'layout.html' %}
{% load staticfiles %}


{% block content %}
<main class="container">

    <section>
        <div class="contenedor">
            <h1>Lista de clientes</h1>   
        </div>
    </section>
    <div class="contenedor">
        <table class="table">
            <thead>
                <tr><!--Fila/Row-->
                    <th>
                        #
                    </th>
                    <th>
                        Nombre de usuario
                    </th>
                    <th>
                        Nombre Completo
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Ultimo 
                        acceso
                    </th>
                    <th>
                        Es 
                        Staff
                    </th>
                    <th>
                        Es 
                        Activo
                    </th>
                    <th>
                        Fecha
                        Registro
                    </th>
                    <th>
                        {% if user.is_superuser %}  
                            Acciones
                        {% endif %}   
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                    <tr>
                        <td>
                            {{c.id}}
                        </td>
                        <td>
                            {{c.username}}
                        </td>
                        <td>
                            {{ c.first_name}} {{c.last_name}}
                        </td>
                        <td>
                            {{ c.email}}
                        </td>
                        <td>
                            <img src="{{ c.getImageUrl }}" alt="foto de perfil" style="max-width:200px;height:100px;">
                        </td>  
                        <td>
                            {{ c.last_login}}
                        </td>    
                        <td>
                            {{ c.is_staff}}
                        </td>       
                        <td>
                            {{ c.is_active}}
                        </td>    
                        <td>
                            {{ c.date_joined}}
                        </td>   
                        <td>
                            {% if user.is_superuser %}
                            <a href="{% url 'sckates:cliente.editar' idCliente=c.id %}" class="btn btn-sm btn-primary"> Editar</a>
                            <a href="{% url 'sckates:cliente.borrar' idCliente=c.id %}" class="btn btn-sm btn-danger"
                            onclick="return confirm('¿Esta seguro de borrar?');"
                            > Borrar</a>
                            {% endif %}
                        </td>                                                                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>         
        <form action="#" method="POST">
            Filtrar por Nombre            
            <input type="submit" value="Filtrar">
            {% csrf_token %}
         </form>  
         <form action="#" method="POST">
            Filtrar por fecha de registro            
            <input type="submit" value="Filtrar">
            {% csrf_token %}
         </form> 
         <form action="#" method="POST">
            Filtrar por ultimo acceso           
            <input type="submit" value="Filtrar">
            {% csrf_token %}
         </form> 
    </div>
    
</main>
{% endblock %}