{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}

<section>
        <article class="articulo2">
            <div class="container">
                <div class="contenedor">
                    <div class="row transitionfx">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="detalleProducto">
                                <div class="main-image sp-wrap col-lg-12 no-padding">
                                    <a href="#">
                                        <img src="/static/images/650w_Rueda-street-53mm.jpg"
                                            class="img-responsive" alt="img">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-5">
                            <div class="detalleProducto">
                                <h1> Ruedas 58mm</h1>
                                <h2>Codigo Producto : ava2202</h2>
                                <h3>$25.990</h3>
                                <div class="descripcion">
                                    <h4>Detalles Productos:</h4>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, enim
                                    voluptates! Consequuntur numquam repudiandae quos accusamus dolor dignissimos
                                    cupiditate necessitatibus saepe, laboriosam, quod ad. Facere, ea aspernatur? Illo,
                                    vel similique?
                                </div>
                                <div class="cart-actions">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btns">Comprar</button>
                                    </div>
                                    <h3><i class="glyphicon glyphicon-lock"></i> Compra Segura
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>

{% endblock %}