{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}

<section>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <!--Primera Slide-->
                    <img class="first-slide img-fluid" src="{% static 'images/25years_insta2_2.jpg' %}" alt="tablas element">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Las mejores tablas</h1>
                            <p><a class="btn btn-lg btn-primary" href="{% url 'sckates:cliente.agregar'%}"
                                    role="button">Registrate ahora</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--Segunda Slide-->
                    <img class="second-slide img-fluid"
                        src="{% static 'images/spitfire-ruedas-skate-full-conical-formula-4-56mm-laminate-D_NQ_NP_782206-MLC27270706507_042018-F.jpg'%}"
                        alt="trucks">
                </div>
                <div class="item">
                    <!--Tercera Slide-->
                    <img class="third-slide img-fluid" src="{% static 'images/1369119247-67926100.jpg'%}" alt="ruedas">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section>
    <article class="articulo1">
        <div class="container">
            <div class="contenedor">
                <H1>Registrate</H1>

                <p class="lead">para obtener descuento de 10% registrate!!
                </p>
                <a class="btn btn-primary btn-lg active" href="{% url 'sckates:cliente.agregar'%}">registrate</a>
            </div>
        </div>
    </article>

</section>
<section>
    <article class="articulo2">
        <div class="container">
            <div class="contenedor">
                <H1>Productos</H1>
                <div class="productos">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{% static 'images/BDLGMLBP_DZD_1.jpg'%}" alt="...">
                                <div class="caption">
                                    <h3>Tabla Element</h3>
                                    <p>$39.990</p>
                                    <p><a href="{% url 'sckates:tablas' %}" class="btn btn-primary"
                                            role="button">Detalles</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{% static 'images/trucks.jpg'%}" alt="...">
                                <div class="caption">
                                    <h3>Truck Independent</h3>
                                    <p>$35.000</p>
                                    <p><a href="{% url 'sckates:trucks' %}" class="btn btn-primary"
                                            role="button">Detalles</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{% static 'images/1369119247-67926100.jpg'%}" alt="...">
                                <div class="caption">
                                    <h3>Ruedas SpitFire</h3>
                                    <p>$24.990</p>
                                    <p><a href="{% url 'sckates:ruedas' %}" class="btn btn-primary"
                                            role="button">Detalles</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </article>
</section>

{% endblock %}