{% load staticfiles %}

<!DOCTYPE html>
<html lang="eS">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>INICIO SKTV</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/start.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
</head>

<body>
    {% block header %}
    <header>
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-image" href="#">sktv</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="agregar-cliente">Registro</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'sckates:tablas' %}">Tablas</a></li>
                                    <li><a href="{% url 'sckates:trucks' %}">Trucks</a></li>
                                    <li><a href="{% url 'sckates:ruedas' %}">Ruedas</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            {% if user.is_authenticated %}
                        <div>
                            <li><a href="{% url 'sckates:cliente.listar' %}">Usuario :{{user.username}}</a></li>
                            
                            <li><a href="{% url 'sckates:logout' %}">Cerrar Sesión</a></li>
                        </div>
                        {% else %}
                            <div>
                                <a href="{% url 'sckates:login' %}">Iniciar Sesión</a>
                            </div>
                        {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    
    <footer>
        <div class="container">
            <div class="contenedor">
                <div class="footer-copyright text-center">© 2018 Copyright:DUOC
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </footer>
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>