{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesión</title>

    <link href="{% static 'css/bootstrap4.css' %}" rel="stylesheet">
</head>
<body>
    
    <main class="container">
        <section class="row justify-content-center mt-5">
            <div class="col-md-5">
                <div class="card">
                        <div class="card-header text-center">
                            <h5 class="card-title">Iniciar sesión</h5>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Nombre de usuario</label>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
        
                                <div class="text-center">
                                    <button type="submit" class="btn btn-sm btn-success">Iniciar Sesión</button>
                                    <div class="border-top pt-3">
                                        <small class="text-muted">
                                            <a class="ml-2" href="{% url 'password_reset' %}">Olvide mi contraseña</a>
                                        </small>
        </div>

                                </div>
                                
                            </form>
                        </div>
                    </div>
            </div>
            
        </section>
    </main>

</body>
</html>