body {
    padding-top: 50px;
    background-color: aqua;
}

.contenedor {
    padding: 40px 15px;
    text-align: center;
    border: solid;
    background-color: white;
}

.articulo1 {
    margin: 10px;
}

.articulo2 {
    margin: 10px;
}

#titulo {
    font-size: 35px;
}
.navbar-inverse {
    background-color: rgb(228, 15, 15);
    border-color: #E7E7E7;
}
.btns{
    background-color: red;
    color:white;
}
.detalleProducto{
    float: left;
    border: solid;
}