.header{
    background-color: aqua;
    text-align: center;

}

#menusito{
    margin: auto;
    background-color:green;
    text-align: center;

}
.post{
    background-color: blue;
    text-align: center;
}
#contenedorFotos {
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
}

.carousel-inner>.item>img {
    width: 100%;
    height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.profile-picture{
    max-width: 200px;
    height:100px;
    padding:20px;
}